body{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin: 0;
}

.bgd-color-container{
    width: 650px;
    margin: 0 auto;
}

.main-container{
    text-align: center;
}

h1 span,
h2 span{
    font-weight: 900;
}

h1, 
h2, 
p{
    font-weight: 300;
}

h1,
h2{
    margin-top: 0;
}

h1{
    font-size: 80px;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 25px 0;
}

h2{
    font-size: 60px;
    margin-top: 0;
    border-top: 1px solid #c4c4c4;
    border-bottom: 1px solid #c4c4c4;
    padding: 25px 0;
}

h3{
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 0;
}

.small-text{
    margin-top: 5px;
    font-size: 16px;
    margin-bottom: 0;
}

p{
    margin-bottom: 60px;
}

a{
    color: #99D930;
    font-weight: 900;
}

a:hover,
a:focus{
    color: #131313;
}

.link-btn{
    background-color: #99D930;
    color: #131313;
    padding: 10px 20px;
    text-decoration: none;
}

.link-btn:hover,
.link-btn:focus{
    color: #fff;
    background-color: #252525;
}

header,
.bottom-container{
    padding: 100px 0;
}

.middle-container{
    padding: 50px 50px 90px 50px;
}

header,
.bottom-container {
    background-color: #252525;
    color: #fff;
}

.middle-container {
    background-color: white;
}

